@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

@custom-variant dark (&:where(.dark, .dark *));

/* @layer components {
  .dark .leaflet-tile-pane {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
} */

/* light mode */
.leaflet-control-zoom a {
  background-color: #ffffff;
  color: #000;           
  border-color: #ccc;    
}

.leaflet-control-zoom a:hover {
  background-color: #f3f4f6; /* gray-100 */
}

.leaflet-control-attribution {
  opacity: 1;
}

/* dark mode */
.dark .leaflet-control-zoom a {
  background-color: #374151; /* gray-700 */
  color: #ffffff;
  border-color: #4b5563;     /* gray-600 */
}

.dark .leaflet-control-zoom a:hover {
  background-color: #4b5563; /* gray-600 */
}

.dark .leaflet-control-attribution {
  opacity: 0.7;
}

.station-marker__wrap svg {
  width: 32px;
  height: 32px;
  display: block;
}

.station-marker__wrap {
  color: var(--marker-color);
}

.station-marker__wrap svg [fill="currentColor"] {
  fill: currentColor;
}
.station-marker__wrap svg [stroke="currentColor"] {
  stroke: currentColor;
}
.station-marker__wrap {
  cursor: pointer;
}

.cluster-icon {
  background: transparent;
  border: none;
}

.cluster-bubble {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  background: var(--cluster-color);
  color: #fff;
  font-weight: 700;
  display: grid;
  place-items: center;
  border: 2px solid #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
}
